# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env
.env.*

# idea files
.idea/

# Logs and temporary files
*.log
*.tmp
*.swp

# Local config files
*.local